@model News.Models.News_comments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>News_comments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.News.News_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News.News_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Comment_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
