@model News.Models.News

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Cat_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Cat_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.News_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
